<div class="container-fluid order bag">
  <div class="global-header order-nav text-center">
    <span class="title">优惠活动</span>
    <a ui-sref="shuwo.default" class="link home">
      <i class="fa fa-home"></i>
    </a>
  </div>
  <div class="bag-container">
    <div class="col-xs-12">
      <img ng-src="{{notice}}" alt="" width="100%"/>
    </div>
    <div class="col-xs-12">

      <p class="notice-tip"><i class="fa fa-leaf color-green"></i> 优惠券送不停：<br />
        &nbsp;&nbsp;&nbsp; 每次在下单并确认收货后，系统会自动赠送您现金红包5元或10元。<br />
        &nbsp;&nbsp;&nbsp; 达到起送价（具体价格以水果店显示为准）可直接使用优惠券抵现。<br />
        <i class="fa fa-leaf color-green"></i> 比去水果店更便宜：<br />
        &nbsp;&nbsp;&nbsp; 在实体店购买只只有一个红包哦<br />
        &nbsp;&nbsp;&nbsp; 在家下单购买水果，水果我们帮您挑好<br />
        &nbsp;&nbsp;&nbsp; 会比进店购买更便宜哟！<br />
        <i class="fa fa-leaf color-green"></i> 货到验收，不满意可以当场退货，满意后再付款。
      </p>
    </div>



  </div>
</div>
