<div class="container-fluid order-success">
  <div class="global-header order-nav text-center">
    <a ui-sref="shuwo.default" class="link back">
      <i class="fa fa-chevron-left"></i>
    </a>
    <span class="title">下单成功</span>
    <a ui-sref="shuwo.default" class="link home">
      <i class="fa fa-home"></i>
    </a>
  </div>
  <p class="loading text-center" ng-show="loading"><i class="fa fa-spinner fa-spin"></i></p>

  <div class="container-fluid main" ng-show="!loading">
    <p class="title">订单信息</p>
    <div class="order-info">
      <p>订单状态：<span ng-class="{'color-green': order.orderstatus==1, 'color-red': order.orderstatus==0}">{{order.orderstatus | orderStatus}}</span></p>
      <p>订单编号：{{order.orderid}}</p>
      <p>订单时间：{{order.createdtime}}</p>
      <p>店铺名称：{{shop.spn}}</p>
      <p>店铺电话：<a ng-href="tel:{{shop.phone}}" class="tel">{{shop.phone}}（点击拨打）</a></p>
      <p>配送时间：{{order.dltime}}</p>
    </div>
    <p class="title">订单产品</p>
    <div class="item-container">
      <ul class="list-group">
        <li class="list-group-item row" ng-repeat="p in order.productdetail">
          <div class="col-xs-4 text-center">
            <p class="name">{{p.productname}}</p>
          </div>
          <div class="col-xs-4 text-center">
            <p class="color-red" ng-if="p.attribute=='1'">{{p.quantity}}个<span class="text-small">（约{{p.quantity*p.unitweight | weight}}）</span></p>
            <p class="color-red" ng-if="p.attribute=='2'">{{p.quantity*250 | weight}}</p>
            <p class="color-red" ng-if="p.attribute=='3'">{{p.quantity}}{{p.unit}}</p>
          </div>
          <div class="col-xs-4 text-center">
            <p class="color-red" ng-if="p.attribute=='1'">约￥{{p.realprice}}</p>
            <p class="color-red" ng-if="p.attribute=='2'||p.attribute=='3'">￥{{p.realprice}}</p>
          </div>
        </li>
        <li class="list-group-item row" ng-show="shop.shopid == '123'" >
          <div class="col-xs-4 text-center">
            <p class="name">打包盒</p>
          </div>
          <div class="col-xs-4 text-center">

          </div>
          <div class="col-xs-4 text-center">


            <p class="color-red" >1元</p>
          </div>
        </li>
        <li class="list-group-item row" ng-if="order.notes.length>0" >
          <div class="col-xs-4 text-center">
            <p class="name">外送费</p>
          </div>
          <div class="col-xs-4 text-center">

          </div>
          <div class="col-xs-4 text-center">


            <p class="color-red" >0元</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="tip">
      <p><span class="color-red">*</span> 订单总金额约 <span class="color-red"  ng-if="shop.shopid == '123'" >￥{{order.beforeprice * 1 +1 }}</span>
        <span class="color-red" ng-if="shop.shopid !== '123'">￥{{order.beforeprice }}</span></p>
      <p ng-show="order.isfirst == 1 || order.discount>0"><span class="color-red">*</span> 优惠减免 <span class="color-red">￥{{order.discount}}</span></p>
      <p style=" font-weight:bold; font-size: 14px" ng-show="order.isfirst == 1 || order.discount>0&&shop.shopid == '123'"><span class="color-red">*</span> 实际总金额约 <span class="color-red">￥{{order.price *1 +1 }}</span></p>
      <p style=" font-weight:bold; font-size: 14px" ng-show="order.isfirst == 1 || order.discount>0&&shop.shopid !== '123'"><span class="color-red">*</span> 实际总金额约 <span class="color-red">￥{{order.price}}</span></p>
      <p><span class="color-red">*</span> 树窝代购员正在待命，即将前往店铺购买，请您耐心等待：）</p>
      <p><span class="color-red">*</span> 您有任何疑问都可以拨打树窝热线：<a href="tel://4009609670" class="color-green">400-960-9670</a></p>
    </div>

    <a ui-sref="shuwo.order.list" class="btn btn-success to-order-list">查看订单列表</a>
  </div>
</div>
